<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <!--
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('drama/sou/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('drama/sou/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('drama/sou/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        -->

                        

                        
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('drama/sou/edit')}"
                           data-operate-del="{:$auth->check('drama/sou/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script id="customformtpl" type="text/html">
    <!--form表单必须添加form-commsearch这个类-->
    <form action="" class="form-horizontal form-commonsearch">
        <div style="margin-bottom:10px;padding:15px 20px;">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label class="control-label col-xs-4">搜索内容</label>
                    <div class="col-xs-8">
                        <input class="form-control" name="title" type="text" value="">
                    </div>
                    <input class="operate" type="hidden" data-name="title" value="like"/>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label for="starttime" class="control-label col-xs-4">开始时间</label>
                    <div class="col-xs-8">
                        <input name="starttime" id="starttime" type="text" class="form-control datetimepicker">
                    </div>
                    <input class="operate" type="hidden" data-name="starttime" value=">="/>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label for="endtime" class="control-label col-xs-4">结束时间</label>
                    <div class="col-xs-8">
                        <input name="endtime" id="endtime" type="text" class="form-control datetimepicker">
                    </div>
                    <input class="operate" type="hidden" data-name="endtime" value="<="/>
                </div>
                <!--
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="control-label">状态</label>
                        <div class="row">
                            <div class="col-xs-6">
                                <select class="admin form-control" name="status">
                                    <option value="">请选择</option>
                                    <option value="0">已授权</option>
                                    <option value="3">待审核</option>
                                    <option value="1">正常</option>
                                    <option value="2">冻结</option>
                                </select>
                            </div>
                        </div>
                        <input class="operate" type="hidden" data-name="status" value="="/>
                    </div>
                </div>
                -->
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="col-sm-8 col-xs-offset-4">
                        <button type="submit" class="btn btn-success" formnovalidate="">提交</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
